/**********************************************************
					HOME.CSS
**********************************************************/

@import "compass/css3";
@import 'variables';

/***** TEMPLATE EDITS FOR PAGE *****/
.l-main-pagecontent {
  // Remove all padding
  padding: 0;
  & > .row {
    // Make content area full width
    max-width: none;
    .row {
      margin-right: auto;
      margin-left: auto;
      max-width: 1170px;
    }
  }
  h1 {
    text-align: center;
  }
}
h1 {
  font-size: 2.85em;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 72px;
  }
}



/***** INTRO SECTION *****/
#intro-section {
	text-align: center;
	padding: 0 0 2em; // Change back to 0 0 10em when banner bearer story is removed
	z-index: 1;
  @media screen and (max-width: 768px) {
    padding: 0 .25em 2em; // Change back to 0 .25em 10em when banner bearer story is removed
  }
	h2 {
		font-size: 3em;
		margin: 1em 0 .2em;
    &+p {
      margin-top: 0;
    }
		@media screen and (max-width: 768px) {
			font-size: 2.75em;
		}
	}
  h3 {
    font-size: 1.75em;
    &+p {
      margin-top: .5em;
    }
  }
	p {
		font-size: 1.5em;
		line-height: 1;
		@media screen and (max-width: 768px) {
			font-size: 1.25em;
		}
	}
	#graduation {
        font-size: .90em;
        text-align: left;
        h3 {
            font-size: 2em;
        }
        h4 {
            font-size: 1.5em;
        }
    }
    .button {
      width: 80%;
      margin: 10px 0 .125em;
      word-wrap: normal;
      @media screen and (min-width: 768px) {
        display: inline-block;
        width: 48%;
        padding: .5em 0;
      }
    }
}


/***** BANNER BEARER *****/
#banner-bearer {
  padding: 0 0 5em;
  h3+h4 {
    margin-top: 0.5em;
  }
}


/***** STUDENTS SECTION *****/
#home-students {
	background-color: $white;
	text-align: center;
	overflow: hidden;
	z-index: 1;
  .row {
    max-width: 100%;
  }
	.intro-photo {
		display: inline-block;
		padding: 0;
		position: relative;
		vertical-align: top;
		height: 30vh;
    @media screen and (min-width: 768px) {
      height: 40vh;
    }
    @media screen and (min-width: 1024px) {
      height: 50vh;
    }
		a {
			position: relative;
			display: inline-block;
			height: 100%;
			width: 100%;
			overflow: hidden;
			&:after {
				position: absolute;
				@include transition(.4s);
				content: '';
				width: 0;
				left: 50%;
				bottom: 0;
				background-color: rgba($cream, .8);
				height: 120%;
				left: -40%;
				@include skewX(15deg);
				z-index: 2;
			}
			&:hover {
				&:after {
					left: -40%;
					width: 175%;
				}
				.home-students-text {
					@include translate(-50%, -50%);
					opacity: 2;
				}
			}
		}
	}
	#intro-current,
  #intro-prospective,
  #intro-parents {
		position: relative;
    background-position: center center;
    background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
  #intro-current {
    background-image: image-url('current-students.jpg');
  }
	#intro-prospective {
		background-image: image-url('prospective-students.jpg');
	}
  #intro-parents {
    background-image: image-url('parents-and-dean.jpg');
  }
	.home-students-text {
		position: absolute;
		opacity: 0;
		top: 50%;
	    left: 50%;
	    @include translate(-50%, 0%);
	    @include transition(.4s);
		color: $darkRed;
		font-size: 4em;
		line-height: 1;
		width: 100%;
		z-index: 3;
		@media screen and (max-width: 768px) {
			font-size: 2em;
			background-color: rgba($cream, .8);
			opacity: 1;
			top: initial;
			bottom: 20%;
			padding: .5em 0;
		}
	}
}


/***** HOME ADVISING SECTION *****/

#home-advising {
	position: relative;
  font-size: .75em;
	#home-advising-badge {
		position: absolute;
		top: 0;
		left: 50%;
		@include translate(-50%, -50%);
	    background-color: $white;
	    line-height: 1;
	    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	    @include transition(.125s);
	    border-radius: 3px;
	    z-index: 5;
	    &:hover,
	    &:active {
    	    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
	    }
	    @media screen and (max-width: 1099px) {
	    	@include translate(-50%, -80%);
	    }
	    h2 {
	    	font-size: 2em;
	    	padding: 0;
	    	margin: 0;
	    }
	    a {
    	    padding: .5em 1.25em;
		    display: inline-block;
		    color: $lightBlack;
		    @include transition(.3s);
		    &:hover,
		    &:active {
		    	color: $darkGray;
		    	text-decoration: none;
		    }
		    @media screen and (max-width: 768px) {
		    	padding: .25em 1em;
		    }
	    }
	}
	ul {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		@include display-flex;
		-webkit-box-align: stretch;
		-moz-box-align: stretch;
	    -ms-flex-align: stretch;
		@include align-items(stretch);
		list-style: none;
		padding: 0;
		margin: 0;
		@media screen and (max-width: 1099px) {
			-webkit-box-lines: multiple;
			-moz-box-lines: multiple;
			-ms-flex-wrap: wrap;
			@include flex-wrap(wrap);
		}
		li {
			position: relative;
			max-height: 400px;
			width: 25%;
			background-color: $white;
			border-right: 1px solid $white;
			overflow: hidden;
      padding: 0;
      margin: 0;
      text-indent: 0;
      &:before {
        content: '';
        position: inherit;
        margin: 0;
      }
			&:last-child {
				border: none;
			}
			&:hover {
				.home-adv-card-top {
					div {
						padding: 1em 0;
						span {
							font-size: 1.5em;
						}
					}
				}
				.home-adv-contact {
					@include translateY(0);
				}
			}
			@media screen and (max-width: 1600px) {
				max-height: 350px;
			}
			@media screen and (max-width: 1099px) {
				max-height: 400px;
				width: 33.33%;
				width: calc(100% / 3);
			}
			@media screen and (max-width: 768px) {
				max-height: 350px
			}
			@media screen and (max-width: 575px) {
				width: 50%;
			}
			@media screen and (max-width: 400px) {
				max-height: 325px;
			}
			.home-adv-card-top {
				position: relative;
				background-color: $red;
				@include transition(.5s);
				&:after {
					position: absolute;
					content: '';
					bottom: -.75em;
					left: 50%;
					background: inherit;
					@include transform(translateX(-50%) rotate(45deg));
					height: 2em;
					width: 2em;
					z-index: 2;
				}
				div {
					line-height: 1;
					padding: 3em 0;
					@include transition(.5s);
					span {
						display: inline-block;
						position: relative;
						left: 50%;
						@include translateX(-50%);
						background-color: $red;
						color: $white;
						font-size: 3em;
						padding: .125em .375em;
						border: 1px solid $white;
						@include transition(.5s);
						z-index: 3;
					}
				}
				@media screen and (max-width: 768px) {
					div {
						padding: 1em 0;
						span {
							font-size: 1.5em;
						}
					}
				}
			}
			.home-adv-card-bottom {
				text-align: center;
				padding: 2em 0 0;
				hr {
          position: initial;
					width: 66%;
					border: 1px solid $red;
				}
				h3 {
          font-size: 1.5em;
					a {
						color: $black;
						@include transition(.3s);
						&:hover {
							text-decoration: none;
							color: $darkGray;
						}
					}
				}
				p {
					margin: 0 0 .5em 0;
				}
			}
			.home-adv-contact {
				text-align: center;
				@include translateY(70%);
				@include transition(.5s all ease-in-out);
				img {
					width: 75%;
          max-width: 200px;
					@include translateX(20%);
				}
				@media screen and (max-width: 768px) {
					@include translateY(0);
				}
			}
		}
	}
}

.no-flexbox {
	#home-advising {
		ul {
			display: table;
			li {
				display: table-cell;
				width: calc(100% / 6);
			}
		}
	}
}


/***** HOME SPACER SECTION *****/

.home-spacer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	@include display-flex;
	-webkit-box-lines: single;
	-moz-box-lines: single;
	-ms-flex-wrap: nowrap;
	@include flex-wrap(nowrap);
	-webkit-box-align: center;
	-moz-box-align: center;
    -ms-flex-align: center;
	@include align-items(center);
	text-align: center;
	line-height: 1;
	background-color: $lightBlack;
	div {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		width: 25%;
		-ms-flex: 1;
		@include flex(1);
		position: relative;
	    padding: 2em 0;
	    font-size: 3em;
	    font-style: italic;
	    color: $cream;
	    opacity: 0;
	    @media screen and (max-width: 768px) {
	    	font-size: 2em;
	    }
	    @media screen and (max-width: 480px) {
	    	font-size: 1.25em;
	    }
	    a {
	    	color: #6CADDE;
	    	text-decoration: none;
	    	@include transition(.3s);
	    	&:hover,
	    	&:active {
	    		font-size: 1.125em;
	    	}
	    }
	}
}

.no-flexbox {
	.home-spacer {
		display: table;
		div {
			display: table-cell;
		}
	}
}


/***** HOME PUBLICATIONS SECTION *****/

#home-publications {

	background-color: $lightGray;
	padding: 6em 0 6em 1em;
	@media screen and (max-width: 480px) {
		padding: 3em 1em;
	}
	h2 {
		font-size: 2em;
		text-align: center;
		margin-bottom: 1em;
	}
	#home-publications-flex {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		@include display-flex;
		@media screen and (max-width: 768px) {
			@include flex-wrap(wrap);
		}
	}
	.home-publication {
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-ms-flex: 1;
		@include flex(1);
		width: 25%;
		padding: 0 1em 0 0;
		@include transition(.3s);
		&:hover {
			margin-top: -15px;
		}
		@media screen and (max-width: 768px) {
			-webkit-box-flex: none;
			-moz-box-flex: none;
			-ms-flex: none;
			@include flex(none);
			width: 50%;
			padding: 2em 1em 0 0;
		}
		&:nth-child(2) {
			@include animation-delay(.1s);
		}
		&:nth-child(3) {
			@include animation-delay(.2s);
		}
		&:last-child {
			@include animation-delay(.3s);
		}
		h3 {
			font-size: 1.75em;
			-webkit-transition: .3s;
			transition: .3s;
			margin-top: .125em;
			@media screen and (max-width: 768px) {
				font-size: 1.45em;
			}
		}
		a {
			color: $black;
			&:hover {
				text-decoration: none;
				h3 {
					color: $gray;
				}
			}
		}
		img {
			height: auto;
			width: 100%;
		}
		p {
			margin: 0;
		}
	}
}

.no-flexbox {
	#home-publications {
		#home-publications-flex {
			display: table;
		}
		.home-publication {
			display: table-cell;
		}
	}
}


/***** HOME SOCIAL SECTION *****/

#home-social {
	padding: 6em 0 3em;
	text-align: center;
  @media screen and (min-width: 768px) {
    padding: 6em 0 0;
  }
	h3 {
		color: $darkGray;
		font-size: 2em;
	}
	a {
		font-size: 2em;
		color: $darkGray;
		margin: .5em 1em;
		@include transition(.3s);
		&:hover {
			text-decoration: none;
		}
	}
}

#employment {
  font-size: 1.25em;
  padding: 1.5em 0;
  a {
    font-size: 1em;
    margin: .5em auto;
  }
}


/***** TESTIMONIALS SECTION *****/
#testimonials {
  #photo {
    position: relative;
    overflow: hidden;
    z-index: 1;
    @media screen and (min-width: 642px) {
      height: 400px;
    }
    @media screen and (min-width: 1024px) {
      height: 600px;
    }
    img {
      // animation: 1.5s ease forwards zoom-out;
      width: 90%;
      @media screen and (min-width: 642px) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  #quote {
    text-align: center;
    padding: 1em;
    z-index: 1;
    transform: scale(1);
    // animation: 1.5s ease forwards scale-in;
    @media screen and (min-width: 768px) {
      text-align: left;
      padding: 1em 1em 0 2em;
    }
    @media screen and (min-width: 1024px) {
      padding: 9em 1em 0 2em;
      blockquote {
        font-size: 1.25em;
      }
    }
    blockquote{
      position: relative;
      min-height: 90px;
      &:before {
        content: '\201C';
        position: absolute;
        top: -90%;
        left: -10%;
        color: $lightGray;
        font-size: 10em;
        z-index: -1;
        @media screen and (min-width: 1440px) {
          content: '\201C';
          top: -108%;
          left: -13%;
        }
      }
      &:after {
        content: '\201D';
        position: absolute;
        bottom: -130%;
        right: -10%;
        color: $lightGray;
        font-size: 10em;
        line-height: 1;
        z-index: -1;
        @media screen and (min-width: 768px) {
          content: '\201D';
          bottom: -105%;
        }
        @media screen and (min-width: 1024px) {
          content: '\201D';
          bottom: -130%;
        }
      }
    }
    img {
      max-width: 200px;
    }
    cite {
      display: block;
      font-size: .95em;
    }
  }
}


/***** BODY *****/
.wrapper {
	max-width: 80em;
}

.content-block {
	background: #FFF;
}


/***** FOOTER *****/
.wrapper-wide-red {
	margin-top: 0;
}



/***** ANIMATIONS *****/
@keyframes zoom-out {
  from { width: 100%; }
  to { width: 98%; }
}

@keyframes scale-in {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}
