/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$ttuDarkGrey: #666;
$ttuLightGrey: #808285;
$ttuRed: #C00;
$ttuBlack: #000;

h1
{
	text-align: center;
	font-size: 4.5em;
	color: $ttuRed;
	line-height: 1;
}

.studentSuccess
{

	p
	{
		font-size: 2.5em;
		text-align: center;
		color: $ttuDarkGrey;
		line-height: 1;
		margin-bottom: 1em;
	}

}

.centerImage
{
	text-align: center;
}


@mixin studentSuccessContainerPadding($paddingTB, $paddingLR, $bool)
{

	@if $bool
	{
		// @debug "$boolean is #{$bool}";
		padding: $paddingTB * 1.5 $paddingLR;
	}

	@else
	{
		// @debug "$boolean is #{$bool}";
		padding: $paddingTB $paddingLR;
	}

	text-align: left;
}

.studentSuccessSection
{
	.row
	{
		margin-bottom: 1.4em;
	}

	.studentSuccessImage
	{
		@include studentSuccessContainerPadding(2.5em, 0em, false);
	}

	.studentSuccessTextContainer
	{
		@include studentSuccessContainerPadding(2.5em, 1em, true);
	}

	.studentSuccessTextTitle
	{
		font-size: 2.8em;
		margin: 0.4em 0;
		color: $ttuRed;
		line-height: 1;
	}

	.studentSuccessText
	{
		color: $ttuLightGrey;
		font-size: 1.3em;
	  line-height: 1.2;
	}

}

#ourTeam
{
	width: 100%;
	height: 100vh;
	overflow: hidden;

	.person {
		position: absolute;
		width: 100%;
		height: 100vh;
		display: table;
	}

	.row
	{
		max-width: 100%;
		display: block;
		height: inherit;
	}

	.columns
	{
		/*
		display: table-cell;
    height: inherit;
		vertical-align: bottom;
		float: none;
		padding: 0;
		*/
		text-align: center;
		height: 50%;
	}

	.arrowRight,
	.arrowLeft
	{
		width: 5%;
		height: 100vh;
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 0;
		visibility: hidden;

		div
		{
			font-size: 8em;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}
	.arrowRight {
		right: 1.5em;

		div
		{
			right: 0;
		}
	}
	.arrowLeft
	{
		left: 1.5em;
	}

	.teamMemberText
	{
		width: 94%;
		margin-top: 10vh;
		padding: 0 5%;
		display: inline-block;
		color: white;

		.teamMemberName
		{
			font-size: 3em;
			line-height: 1;
		}

		.teamMemberDescription
		{
			font-size: 1.4em;
			line-height: 1;
		}
	}

	.teamMemberPhoto
	{
		text-align: center;
		width: 94%;
		display: inline-block;
	}

	img {
			height: 100%;
			width: 0 auto;
	}

	@media screen and (min-width: 1023px)
	{

		.row
		{
			display: table-row;
		}

		.columns
		{
			  float: left;
				display: table-cell;
				text-align: center;
		}

		.leftColumn
		{
	    padding: 0 5%;
	    width: 100%;
	    height: inherit;
		}
		.rightColumn
		{
			vertical-align: bottom;
			float: none;
		}

		.teamMemberText
		{
			width: 95%;
    	text-align: center;
    	vertical-align: middle;
    	margin-top: 30%;

			.teamMemberName
			{
				font-size: 4em;
				line-height: 1;
			}

			.teamMemberDescription
			{
				font-size: 2em;
				line-height: 1;
			}
		}

		.arrowRight,
		.arrowLeft
		{
			visibility: visible;
		}

		img {
				height: 80%;
				position: relative;
				bottom: -1%;
		}

	} //End Media query
}

.pink
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe9090+0,fcc9c9+80 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc8383+0,fcc9c9+100 */

	background: #fc8383; /* Old browsers */
	background: -moz-linear-gradient(left,  #fc8383 0%, #fcc9c9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #fc8383 0%,#fcc9c9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #fc8383 0%,#fcc9c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8383', endColorstr='#fcc9c9',GradientType=1 ); /* IE6-9 */
}

.blue {

	background: #59bde5; /* Old browsers */
	background: -moz-linear-gradient(left,  #59bde5 35%, #d8efff 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #59bde5 35%,#d8efff 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #59bde5 35%,#d8efff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bde5', endColorstr='#d8efff',GradientType=1 ); /* IE6-9 */
}

.orange{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa230+0,ffdaaf+75 */
	background: #ffa230; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffa230 0%, #ffdaaf 75%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ffa230 0%,#ffdaaf 75%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ffa230 0%,#ffdaaf 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa230', endColorstr='#ffdaaf',GradientType=1 ); /* IE6-9 */
}

.green{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5ce85a+16,d2f2d0+100 */
background: #5ce85a; /* Old browsers */
background: -moz-linear-gradient(left,  #5ce85a 16%, #d2f2d0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #5ce85a 16%,#d2f2d0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #5ce85a 16%,#d2f2d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ce85a', endColorstr='#d2f2d0',GradientType=1 ); /* IE6-9 */
}

.purple
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b47fe2+0,d7d0f2+100 */
background: #b47fe2; /* Old browsers */
background: -moz-linear-gradient(left,  #b47fe2 0%, #d7d0f2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #b47fe2 0%,#d7d0f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #b47fe2 0%,#d7d0f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b47fe2', endColorstr='#d7d0f2',GradientType=1 ); /* IE6-9 */

}

.spacer
{
	width: 100%;
}
