/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$ttuDarkGrey: #666;
$ttuLightGrey: #808285;
$ttuRed: #C00;
$ttuBlack: #000;

h1
{
	text-align: center;
	font-size: 4.5em;
	color: $ttuRed;
	line-height: 1;
}

.studentSuccess
{

	p
	{
		font-size: 2.5em;
		text-align: center;
		color: $ttuDarkGrey;
		line-height: 1;
		margin-bottom: 1em;
	}

}

.centerImage
{
	text-align: center;
}


@mixin studentSuccessContainerPadding($paddingTB, $paddingLR, $bool)
{

	@if $bool
	{
		// @debug "$boolean is #{$bool}";
		padding: $paddingTB * 1.5 $paddingLR;
	}

	@else
	{
		// @debug "$boolean is #{$bool}";
		padding: $paddingTB $paddingLR;
	}

	text-align: left;
}

.studentSuccessSection
{
	.row
	{
		margin-bottom: 1.4em;
	}

	.studentSuccessImage
	{
		@include studentSuccessContainerPadding(2.5em, 0em, false);
	}

	.studentSuccessTextContainer
	{
		@include studentSuccessContainerPadding(2.5em, 1em, true);
	}

	.studentSuccessTextTitle
	{
		font-size: 2.8em;
		margin: 0.4em 0;
		color: $ttuRed;
		line-height: 1;
	}

	.studentSuccessText
	{
		color: $ttuLightGrey;
		font-size: 1.3em;
	  line-height: 1.2;
	}

}

#ourTeam
{
	width: 100%;
	height: 100vh;
	overflow: hidden;

	.name {
		position: absolute;
		width: 100%;
		height: 100vh;
	}

	.row
	{
		max-width: 100%;
	}

	.arrowRight,
	.arrowLeft
	{
		width: 5%;
		height: 100vh;
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 0;

		div
		{
			font-size: 8em;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}
	.arrowRight {
		right: 0;
	}
	.arrowLeft
	{
		left: 0;
	}

	.teamMemberText
	{
		width: 94%;
		margin-top: 35vh;
		padding: 0 10%;
		display: inline-block;

		.teamMemberName
		{
			font-size: 4em;
			line-height: 1;
		}

		.teamMemberDescription
		{
			font-size: 2em;
			line-height: 1;
		}
	}

	.teamMemberPhoto
	{
		text-align: center;
		width: 94%;
		display: inline-block;

		img {
			height: 100vh;
		}
	}


}

.green{
	background-color: lightgreen;
}

.blue{
	background-color: lightblue;
}

.grey{
	background-color: lightgrey;
}

.spacer
{
	width: 100%;
}
