/********** VARIABLES **********/

// Colors

$white: #FFF;
$red: #CC0000;
$darkRed: #900;
$black: #000000;
$lightBlack: #333;
$lightGray: #CCCCCC;
$gray: #808285;
$darkGray: #666;
$tan: #CB9F5B;
$cream: #EAE0C6;
$blue: #899FB4;
$darkBlue: #003A66;
$green: #B0B37B;
$darkGreen: #4D5B2A;