/**********************************************************
					Majors Template CSS
**********************************************************/
/********** VARIABLES **********/
/***** TEMPLATE EDITS FOR PAGE *****/
.l-main-pagecontent {
  padding: 0;
}
.l-main-pagecontent > .row {
  max-width: none;
}
.l-main-pagecontent > .row .row {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}
.l-main-pagecontent h1 {
  text-align: center;
}

.default-list li {
  text-indent: 0;
  margin: 0;
}
.default-list li:before {
  content: '';
  margin: 0;
  padding: 0;
}

/***** INFO SECTION *****/
.major-info {
  position: relative;
  text-align: center;
  height: 600px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .major-info {
    height: 500px;
  }
}
.major-info .major-info-text {
  position: absolute;
  display: table;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .major-info .major-info-text {
    position: static;
    display: block;
    background-color: #FFF;
    height: auto;
    width: 100%;
    padding: 3em 0;
  }
}
.major-info .major-info-text div {
  display: table-cell;
  vertical-align: middle;
  padding: 0 3em;
}
@media screen and (max-width: 768px) {
  .major-info .major-info-text div {
    display: block;
  }
}
.major-info .major-info-text h1 {
  font-size: 3em;
}
@media screen and (max-width: 768px) {
  .major-info .major-info-text h1 {
    font-size: 2.5em;
  }
}
.major-info .major-info-text p {
  color: #000000;
  font-size: 1.25em;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .major-info .major-info-text p {
    font-size: 1em;
  }
}
.major-info img {
  display: block;
  height: auto;
  width: 100%;
  min-height: 100%;
}
@media screen and (max-width: 768px) {
  .major-info img {
    min-height: auto;
  }
}

/***** BUTTON ROW SECTION *****/
.major-button-row {
  width: 100%;
}
.major-button-row ul {
  display: table;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .major-button-row ul {
    display: block;
  }
}
.major-button-row ul li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background: #3a3a3a;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3a3a3a), color-stop(100%, #333333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #3a3a3a 0%, #333333 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(45deg, #3a3a3a 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#333333',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 25%;
}
.major-button-row ul li:after {
  content: '';
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 0;
  right: 0;
  left: auto;
  bottom: 0;
  height: 10px;
  background-color: #CC0000;
}
.major-button-row ul li:hover:after {
  width: 100%;
  left: 0;
}
.major-button-row ul li:nth-child(2) div {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.major-button-row ul li:nth-child(3) div {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.major-button-row ul li:last-child div {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.major-button-row ul li:last-child {
  border-right: none;
}
@media screen and (max-width: 768px) {
  .major-button-row ul li {
    display: list-item;
    border-right: none;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
  }
  .major-button-row ul li:last-child {
    border-bottom: none;
  }
}
.major-button-row ul li a {
  display: table;
  height: 100%;
  width: 100%;
  padding: 2em 0;
}
.major-button-row ul li a:hover {
  text-decoration: none;
}
.major-button-row ul li a:hover div {
  -ms-transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
}
@media screen and (max-width: 768px) {
  .major-button-row ul li a {
    padding: 1em 0;
  }
}
.major-button-row ul li a div {
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: .3s;
  transition: .3s;
}
.major-button-row ul li a img {
  height: 75px;
  width: 75px;
}
.major-button-row ul li a h3 {
  color: #FFF;
}

/***** MAJOR MAIN SECTION *****/
.major-main {
  position: relative;
  background: url('/images/squared_metal.png?1474317270');
  text-align: center;
  padding: 6em 0 0;
  overflow: hidden;
}
.major-main .columns-wrapper {
  position: relative;
  height: 100%;
}
.major-main .columns-wrapper .column-one-half {
  position: relative;
  height: 100%;
}
.major-main .major-interactive-left {
  text-align: left;
  padding: 3em 3em;
}
@media screen and (max-width: 768px) {
  .major-main .major-interactive-left {
    padding: 3em .75em 1em;
  }
}
.major-main .major-interactive-left h4 {
  cursor: pointer;
  font-size: 1.5em;
  border-bottom: 1px solid;
  padding-bottom: .25em;
}
.major-main .major-interactive-left ul {
  list-style: none;
}
@media screen and (max-width: 768px) {
  .major-main .major-interactive-left ul {
    padding: 0;
  }
}
.major-main .major-interactive-left ul li {
  padding: .5em 0;
  opacity: .5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.major-main .major-interactive-left ul li .p-toggle {
  display: none;
}
.major-main .major-interactive-left ul li:first-child {
  opacity: 1;
}
.major-main .major-interactive-left ul li:first-child .p-toggle {
  display: block;
}
.major-main .major-interactive-left .major-faqs {
  padding: 0;
}
.major-main .major-interactive-left .major-faqs li {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.major-main .major-interactive-left .major-faqs li span {
  opacity: 0;
  position: relative;
  left: -30px;
  color: #CC0000;
  margin-right: -1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.major-main .major-interactive-left .major-faqs li:first-child span {
  left: 0;
  opacity: 1;
  margin-right: 1em;
}
.major-main .major-interactive-right {
  position: relative;
  padding: 3em 2em 0;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
@media screen and (max-width: 768px) {
  .major-main .major-interactive-right {
    padding: 1.5em .75em 0;
  }
}
.major-main .major-interactive-right > div {
  display: none;
}
.major-main .major-interactive-right div:first-child {
  display: block;
}
.major-main .major-interactive-right .interactive-classes {
  text-align: left;
}
.major-main .major-interactive-right .interactive-classes ul {
  list-style: none;
  font-size: 1.5em;
  color: #003A66;
  line-height: 1;
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .major-main .major-interactive-right .interactive-classes ul {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 480px) {
  .major-main .major-interactive-right .interactive-classes ul {
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
  }
}
.major-main .major-interactive-right .interactive-classes ul li {
  padding: .5em 0;
}
.major-main .major-interactive-right .interactive-classes ul li:before {
  content: "- ";
}
.major-main .major-interactive-right .interactive-faq-a {
  position: relative;
  display: none;
  text-align: left;
  min-height: 350px;
  width: 100%;
  z-index: 1;
}
.major-main .major-interactive-right .interactive-faq-a p {
  display: none;
  position: relative;
  background-color: rgba(204, 0, 0, 0.8);
  color: #FFF;
  font-size: 1.25em;
  line-height: 1;
  padding: 2.5em 2em;
  width: 100%;
}
.major-main .major-interactive-right .interactive-faq-a p:after {
  content: 'Answer';
  position: absolute;
  bottom: -1em;
  left: 0;
  color: rgba(204, 0, 0, 0.8);
  font-weight: 800;
  font-size: 2em;
}
@media screen and (max-width: 480px) {
  .major-main .major-interactive-right .interactive-faq-a p {
    padding: 2.5em 2.5em 2.5em 1em;
  }
}
.major-main .major-interactive-right .interactive-faq-a p:first-child {
  display: block;
}
@media screen and (min-width: 768px) {
  .major-main .major-interactive-right .interactive-faq-a .faq-image {
    position: relative;
  }
  .major-main .major-interactive-right .interactive-faq-a .faq-image img {
    position: relative;
    bottom: -1em;
  }
}

/***** MAJOR SPACER SECTION *****/
.major-spacer {
  background-color: #333;
  font-size: 2em;
  text-align: center;
  line-height: 1;
  width: 100%;
}
.major-spacer p {
  color: #EAE0C6;
  padding: 2em .5em;
  margin: 0;
}

/***** MAJOR CONTACT SECTION *****/
.major-contact {
  background-color: #EAE0C6;
  text-align: center;
  padding: 6em 0;
}
.major-contact .ldpforms label {
  font-size: 1.25em;
  text-align: left;
  padding: 0.2em 0 1em 1.5em;
}
@media screen and (max-width: 768px) {
  .major-contact .ldpforms label {
    padding: 0.2em 0 1em .75em;
  }
}
.major-contact .ldpforms input[type="text"],
.major-contact .ldpforms input[type="email"],
.major-contact .ldpforms textarea {
  background: #FFF;
}
.major-contact .ldpforms .submit {
  border: none;
  padding: 0.875em 2.5em;
  margin: 0 auto;
}

/***** TECH BODY EDITS *****/
.wrapper-wide-red {
  margin-top: 0;
}

/***** Advertising import *****/
.adv-major-info {
  height: 750px;
}
@media screen and (max-width: 768px) {
  .adv-major-info {
    height: auto;
  }
}
.adv-major-info .major-info-text {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.adv-major-info .major-info-text div {
  padding: 0 1em;
}
.adv-major-info .major-info-text div h1 {
  margin-top: 0px;
}
.adv-major-info .major-info-text div p {
  text-align: left;
  padding-left: .5em;
}
@media screen and (max-width: 768px) {
  .adv-major-info .adv-images-carousel {
    display: none;
  }
}
