/**********************************************************
					Majors Template CSS
**********************************************************/
/********** VARIABLES **********/
/***** TEMPLATE EDITS FOR PAGE *****/
.l-main-pagecontent {
  padding: 0;
}
.l-main-pagecontent > .row {
  max-width: none;
}
.l-main-pagecontent > .row .row {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}
.l-main-pagecontent h1 {
  text-align: center;
}
.l-main-pagecontent section {
  padding: 0;
}

.default-list li {
  text-indent: 0;
  margin: 0;
}
.default-list li:before {
  content: '';
  margin: 0;
  padding: 0;
}

/***** INFO SECTION *****/
.major-info {
  position: relative;
  text-align: center;
  height: 600px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .major-info {
    height: 500px;
  }
}
.major-info .major-info-text {
  position: absolute;
  display: table;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .major-info .major-info-text {
    position: static;
    display: block;
    background-color: #FFF;
    height: auto;
    width: 100%;
    padding: 3em 0;
  }
}
.major-info .major-info-text div {
  display: table-cell;
  vertical-align: middle;
  padding: 0 3em;
}
@media screen and (max-width: 768px) {
  .major-info .major-info-text div {
    display: block;
  }
}
.major-info .major-info-text h1 {
  font-size: 3em;
}
@media screen and (max-width: 768px) {
  .major-info .major-info-text h1 {
    font-size: 2.5em;
  }
}
.major-info .major-info-text p {
  color: #000000;
  font-size: 1.25em;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .major-info .major-info-text p {
    font-size: 1em;
  }
}
.major-info img {
  display: block;
  height: auto;
  width: 100%;
  min-height: 100%;
}
@media screen and (max-width: 768px) {
  .major-info img {
    min-height: auto;
  }
}

/***** BUTTON ROW SECTION *****/
.major-button-row {
  width: 100%;
}
.major-button-row ul {
  display: table;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .major-button-row ul {
    display: block;
  }
}
.major-button-row ul li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background: #3a3a3a;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3a3a3a), color-stop(100%, #333333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #3a3a3a 0%, #333333 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(45deg, #3a3a3a 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#333333',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 25%;
}
.major-button-row ul li:after {
  content: '';
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 0;
  right: 0;
  left: auto;
  bottom: 0;
  height: 10px;
  background-color: #CC0000;
}
.major-button-row ul li:hover:after {
  width: 100%;
  left: 0;
}
.major-button-row ul li:nth-child(2) div {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.major-button-row ul li:nth-child(3) div {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.major-button-row ul li:last-child div {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.major-button-row ul li:last-child {
  border-right: none;
}
@media screen and (max-width: 768px) {
  .major-button-row ul li {
    display: list-item;
    border-right: none;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
  }
  .major-button-row ul li:last-child {
    border-bottom: none;
  }
}
.major-button-row ul li a {
  display: table;
  height: 100%;
  width: 100%;
  padding: 2em 0;
}
.major-button-row ul li a:hover {
  text-decoration: none;
}
.major-button-row ul li a:hover div {
  -ms-transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  transform: translateY(-5%);
}
@media screen and (max-width: 768px) {
  .major-button-row ul li a {
    padding: 1em 0;
  }
}
.major-button-row ul li a div {
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: .3s;
  transition: .3s;
}
.major-button-row ul li a img {
  height: 75px;
  width: 75px;
}
.major-button-row ul li a h3 {
  color: #FFF;
}

/***** MAJOR MAIN SECTION *****/
.major-main {
  position: relative;
  background: url('/images/squared_metal.png?1386183405');
  text-align: center;
  padding: 6em 0 0;
  overflow: hidden;
}
.major-main .columns-wrapper {
  position: relative;
  height: 100%;
}
.major-main .columns-wrapper .column-one-half {
  position: relative;
  height: 100%;
}
.major-main .major-interactive-left {
  text-align: left;
  padding: 3em 3em;
}
@media screen and (max-width: 768px) {
  .major-main .major-interactive-left {
    padding: 3em .75em 1em;
  }
}
.major-main .major-interactive-left h4 {
  cursor: pointer;
  font-size: 1.5em;
  border-bottom: 1px solid;
  padding-bottom: .25em;
}
.major-main .major-interactive-left ul {
  list-style: none;
}
@media screen and (max-width: 768px) {
  .major-main .major-interactive-left ul {
    padding: 0;
  }
}
.major-main .major-interactive-left ul li {
  padding: .5em 0;
  opacity: .5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.major-main .major-interactive-left ul li .p-toggle {
  display: none;
}
.major-main .major-interactive-left ul li:first-child {
  opacity: 1;
}
.major-main .major-interactive-left ul li:first-child .p-toggle {
  display: block;
}
.major-main .major-interactive-left .major-faqs {
  padding: 0;
}
.major-main .major-interactive-left .major-faqs li {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.major-main .major-interactive-left .major-faqs li span {
  opacity: 0;
  position: relative;
  left: -30px;
  color: #CC0000;
  margin-right: -1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.major-main .major-interactive-left .major-faqs li:first-child span {
  left: 0;
  opacity: 1;
  margin-right: 1em;
}
.major-main .major-interactive-right {
  position: relative;
  padding: 3em 2em 0;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
@media screen and (max-width: 768px) {
  .major-main .major-interactive-right {
    padding: 1.5em .75em 0;
  }
}
.major-main .major-interactive-right > div {
  display: none;
}
.major-main .major-interactive-right div:first-child {
  display: block;
}
.major-main .major-interactive-right .interactive-classes {
  text-align: left;
}
.major-main .major-interactive-right .interactive-classes ul {
  list-style: none;
  font-size: 1.5em;
  color: #003A66;
  line-height: 1;
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .major-main .major-interactive-right .interactive-classes ul {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 480px) {
  .major-main .major-interactive-right .interactive-classes ul {
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
  }
}
.major-main .major-interactive-right .interactive-classes ul li {
  padding: .5em 0;
}
.major-main .major-interactive-right .interactive-classes ul li:before {
  content: "- ";
}
.major-main .major-interactive-right .interactive-faq-a {
  position: relative;
  display: none;
  text-align: left;
  min-height: 350px;
  width: 100%;
  z-index: 1;
}
.major-main .major-interactive-right .interactive-faq-a p {
  display: none;
  position: relative;
  background-color: rgba(204, 0, 0, 0.8);
  color: #FFF;
  font-size: 1.25em;
  line-height: 1.25;
  padding: 2.5em 2em;
  width: 100%;
  margin-bottom: 3em;
}
.major-main .major-interactive-right .interactive-faq-a p:after {
  content: 'Answer';
  position: absolute;
  bottom: -1em;
  left: 0;
  color: rgba(204, 0, 0, 0.8);
  font-weight: 800;
  font-size: 2em;
}
@media screen and (max-width: 480px) {
  .major-main .major-interactive-right .interactive-faq-a p {
    padding: 2.5em 2.5em 2.5em 1em;
  }
}
.major-main .major-interactive-right .interactive-faq-a p:first-child {
  display: block;
}
.major-main .major-interactive-right .interactive-faq-a p a {
  color: #FFF;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .major-main .major-interactive-right .interactive-faq-a .faq-image {
    position: relative;
  }
  .major-main .major-interactive-right .interactive-faq-a .faq-image img {
    position: relative;
    bottom: -1em;
  }
}

/***** MAJOR SPACER SECTION *****/
.major-spacer {
  background-color: #333;
  font-size: 2em;
  text-align: center;
  line-height: 1;
  width: 100%;
}
.major-spacer p {
  color: #EAE0C6;
  padding: 2em .5em;
  margin: 0;
}

/***** MAJOR CONTACT SECTION *****/
.major-contact {
  background-color: #EAE0C6;
  text-align: center;
  padding: 2em 0 !important;
}
.major-contact .ldpforms label {
  font-size: 1.25em;
  text-align: left;
  padding: 0.2em 0 1em 1.5em;
}
@media screen and (max-width: 768px) {
  .major-contact .ldpforms label {
    padding: 0.2em 0 1em .75em;
  }
}
.major-contact .ldpforms input[type="text"],
.major-contact .ldpforms input[type="email"],
.major-contact .ldpforms textarea {
  background: #FFF;
}
.major-contact .ldpforms .submit {
  border: none;
  padding: 0.875em 2.5em;
  margin: 0 auto;
}

/***** TECH BODY EDITS *****/
.wrapper-wide-red {
  margin-top: 0;
}

/***** Advertising imports *****/
.adv-major-info {
  height: 750px;
}
@media screen and (max-width: 768px) {
  .adv-major-info {
    height: auto;
  }
}
.adv-major-info .major-info-text {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.adv-major-info .major-info-text div {
  padding: 0 1em;
}
.adv-major-info .major-info-text div h1 {
  margin-top: 0px;
}
.adv-major-info .major-info-text div p {
  text-align: left;
  padding-left: .5em;
}
@media screen and (max-width: 768px) {
  .adv-major-info .adv-images-carousel {
    display: none;
  }
}

.major-main .major-interactive-right {
  margin-top: 8em;
}

.student-life {
  position: relative;
  text-align: center;
  height: auto;
  overflow: hidden;
  padding-bottom: 4em;
}
.student-life .flex-row-large-screen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}
@media screen and (max-width: 768px) {
  .student-life .flex-row-large-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.student-life .inner-flex-column-large-screen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.student-life p {
  text-align: justify;
  margin: 0 5em;
}
.student-life hr {
  margin: 0 2em;
}
@media screen and (max-width: 768px) {
  .student-life {
    padding-bottom: 1em;
  }
  .student-life h1 {
    margin-top: .5em;
    font-size: 1.5em;
  }
  .student-life h2 {
    font-size: 1.3em;
  }
  .student-life h3 {
    font-size: 1.2em;
  }
  .student-life h4 {
    font-size: 1.1em;
    color: #C00;
  }
  .student-life h5 {
    font-size: 1em;
  }
  .student-life p {
    font-size: .95em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
.student-life .advertising-required-courses {
  width: 50%;
}
.student-life .advertising-required-courses .required-courses {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-required-courses {
    font-size: .65em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
.student-life .advertising-required-courses ul {
  padding: 1.5em;
}
.student-life .advertising-prereq-course-guide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-prereq-course-guide {
    width: 100%;
  }
}
.student-life .advertising-prereq-course-guide .prereqs {
  background: url("/comc/programs/advertising/images/adv-reqs-bg.svg") center center no-repeat;
  background-size: 350px 560px;
  max-height: 560px;
}
.student-life .advertising-prereq-course-guide .prereqs .mid-level2-prereqs {
  padding: 1.625em 0;
}
.student-life .advertising-prereq-course-guide .prereqs .bottom-level-prereqs {
  padding: 1.5em 0;
}
.student-life .advertising-prereq-course-guide .top-level-prereqs, .student-life .advertising-prereq-course-guide .mid-level1-prereqs, .student-life .advertising-prereq-course-guide .mid-level2-prereqs, .student-life .advertising-prereq-course-guide .bottom-level-prereqs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25em 1em;
}
.student-life .advertising-prereq-course-guide .top-level-prereqs div, .student-life .advertising-prereq-course-guide .mid-level1-prereqs div, .student-life .advertising-prereq-course-guide .mid-level2-prereqs div, .student-life .advertising-prereq-course-guide .bottom-level-prereqs div {
  margin: 5px 17px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  padding: .8em;
}
.student-life .advertising-prereq-course-guide .top-level-prereqs div.circle-course-name-and-number, .student-life .advertising-prereq-course-guide .mid-level1-prereqs div.circle-course-name-and-number, .student-life .advertising-prereq-course-guide .mid-level2-prereqs div.circle-course-name-and-number, .student-life .advertising-prereq-course-guide .bottom-level-prereqs div.circle-course-name-and-number {
  background-color: #CCC;
}
.student-life .course-catalog-descriptions p {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .student-life .course-catalog-descriptions p {
    text-align: left;
    margin: 0 1em;
    padding-right: 0;
    font-size: .8em;
  }
}
.student-life .advertising-electives {
  background-color: #CCC;
  padding: 1em 0;
  margin-top: 1em;
}
.student-life .advertising-electives .group-A {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-electives .group-A {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.student-life .advertising-electives .group-A ul {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-electives .group-A ul {
    text-align: left;
  }
}
.student-life .advertising-electives .groups-B-C {
  margin-top: 2em;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-electives .groups-B-C {
    margin-top: 0;
  }
}
.student-life .advertising-electives .left-column {
  border-right: #C00 4px double;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-electives .left-column {
    border-right: none;
  }
}
@media screen and (max-width: 768px) {
  .student-life .advertising-electives {
    width: 100%;
    padding-right: 0;
  }
  .student-life .advertising-electives h2 {
    text-align: left;
    padding-left: 1em;
  }
}
.student-life .advertising-electives h2 {
  text-align: center;
  padding-left: 0;
}
.student-life .advertising-electives h4 {
  color: #C00;
}
.student-life .advertising-electives p {
  margin: 0;
  font-size: .65em;
}
.student-life .advertising-electives .sub-electives-and-hours {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.student-life .advertising-electives .sub-electives-and-hours .sub-elective-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2em;
}
.student-life .advertising-electives .sub-electives-and-hours .sub-elective-group h3:first-child {
  margin-right: .5em;
}
.student-life .advertising-electives .sub-electives-and-hours .sub-elective-group .elective-hours {
  color: #C00;
  background-color: #333;
  border-radius: 50px;
  padding: .2em 1em .2em 1em;
}
.student-life .advertising-electives .sub-electives-and-hours .elective-group-course-listing {
  text-align: left;
  padding-left: 2em;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-electives .sub-electives-and-hours .elective-group-course-listing {
    border-bottom: 2px #C00 solid;
    text-align: left;
    margin: 0 auto;
    width: 80%;
    padding-left: 0;
  }
  .student-life .advertising-electives .sub-electives-and-hours .elective-group-course-listing p {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  .student-life .advertising-electives .sub-electives-and-hours .elective-group-course-listing ul > li {
    font-size: .75em;
  }
  .student-life .advertising-electives .sub-electives-and-hours .elective-group-course-listing ul > li:last-child {
    padding-bottom: 1em;
  }
}
.student-life .advertising-four-year-sample {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 0 1.5em;
  margin-top: 3em;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-four-year-sample {
    margin-top: 2em;
  }
}
.student-life .advertising-four-year-sample .sample {
  color: #000;
}
.student-life .advertising-four-year-sample .year {
  color: #C00;
  margin-top: 1.5em;
  padding-top: 1em;
  border-top: #C00 2px solid;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-four-year-sample .year {
    border-top: none;
    padding-top: 0;
  }
}
.student-life .advertising-four-year-sample h4 {
  text-align: center;
}
.student-life .advertising-four-year-sample h5, .student-life .advertising-four-year-sample ul {
  margin-top: 0;
}
.student-life .advertising-four-year-sample ul {
  width: 500px;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-four-year-sample ul {
    font-size: .6em;
    width: auto;
  }
}
.student-life .advertising-four-year-sample ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.student-life .advertising-four-year-sample ul li:before {
  content: '';
  display: none;
}
.student-life .advertising-four-year-sample ul span {
  padding: 0 1em;
}
@media screen and (max-width: 768px) {
  .student-life .advertising-four-year-sample .semester {
    border-bottom: 2px #C00 solid;
    text-align: left;
    padding-bottom: 1em;
  }
}
.student-life .advertising-four-year-sample .semester-and-total-hours {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.student-life .advertising-four-year-sample .semester-and-total-hours h5:first-child {
  margin-right: .5em;
}
.student-life .advertising-four-year-sample .semester-and-total-hours .total-hours {
  color: #C00;
  background-color: #CCC;
  border-radius: 50px;
  padding: .2em 1em .2em 1em;
}

/**********************************************************
        					Advertising Quiz CSS
**********************************************************/
#advertising-quiz {
  text-align: center;
  padding: 2em 0 3em;
}
#advertising-quiz #question {
  background: #CCCCCC;
  font-family: "HelveticaNeueW01-45Ligh","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  border: 4px solid #666;
  padding: .25em .5em;
  margin: 1em auto;
  max-width: 500px;
}
#advertising-quiz .choice {
  border: 2px solid #666;
  border-radius: 25px;
  padding: .25em .5em;
  margin: 1em auto;
  max-width: 300px;
  -webkit-transition: .3s;
  transition: .3s;
}
#advertising-quiz .choice:hover {
  background: #CCCCCC;
}
#advertising-quiz .choice:focus {
  background: #CCCCCC;
}
#advertising-quiz .choice a {
  color: #000000;
  padding: .25em 0;
  -webkit-transition: .3s;
  transition: .3s;
}
#advertising-quiz .choice a:hover, #advertising-quiz .choice a:focus {
  text-decoration: none;
}
#advertising-quiz #career-choice {
  margin-top: 3em;
}
#advertising-quiz #career-choice a img {
  margin: 1em 0;
  max-height: 75px;
}
@media screen and (min-width: 768px) {
  #advertising-quiz #career-choice a img {
    margin: 0;
  }
}
