<?xml version="1.0"?>
<configuration>
 <system.web>
 </system.web>
<appSettings>
 <add key="sub" value="This is from CoMCs web.config settings"></add>
 <add key="MySetting" value="This my settings is from /comc/ web.config"></add>
</appSettings>

<system.webServer>
    <rewrite>
        <rules>
        	<!-- FACULTY AND STAFF FORWARDS -->
            <rule name="Faculty Directory Redirect" stopProcessing="true">
                <match url="^fs(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/faculty{R:1}" />
            </rule>


        	<!-- PROGRAMS FORWARDS -->
        	<!-- Advertising -->
        	<rule name="Advertising Directory Redirect" stopProcessing="true">
                <match url="^programs/adv(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/advertising{R:1}" />
            </rule>
            <rule name="Advertising Index Redirect" stopProcessing="true">
                <match url="^programs/advertising.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/advertising/" />
            </rule>
            <!-- Electronic Media and Communications -->
        	<rule name="EMAC Directory Redirect" stopProcessing="true">
                <match url="^programs/emac(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/electronicmedia{R:1}" />
            </rule>
            <rule name="EMAC Index Redirect" stopProcessing="true">
                <match url="^programs/emac.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/electronicmedia/" />
            </rule>
            <!-- Journalism -->
            <rule name="Journalism Directory Redirect" stopProcessing="true">
                <match url="^programs/jour(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/journalism{R:1}" />
            </rule>
            <rule name="Journalism Index Redirect" stopProcessing="true">
                <match url="^programs/journalism.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/journalism/" />
            </rule>
            <!-- Media Strategies -->
            <rule name="Media Strategies Directory Redirect" stopProcessing="true">
                <match url="^programs/mst(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/mediastrategies{R:1}" />
            </rule>
            <!-- Public Relations -->
            <rule name="PR Directory Redirect" stopProcessing="true">
                <match url="^programs/pr(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/publicrelations{R:1}" />
            </rule>
            <rule name="PR Index Redirect" stopProcessing="true">
                <match url="^programs/pr.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/publicrelations/" />
            </rule>


            <!-- PUBLICATION FORWARDS -->
            <rule name="Publications Directory Redirect" stopProcessing="true">
                <match url="^Publications(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/about/publications{R:1}" />
            </rule>
            <rule name="Publications Index Redirect" stopProcessing="true">
                <match url="^about/publications.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/about/publications/" />
            </rule>
            <!-- The Adviser -->
			<rule name="The Adviser Index Redirect" stopProcessing="true">
                <match url="^about/publications/adviser.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/about/publications/adviser/" />
            </rule>
            <!-- Converging News -->
            <rule name="Converging News Index Redirect" stopProcessing="true">
                <match url="^about/publications/converging.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/about/publications/converging/" />
            </rule>
            <!-- The MC -->
            <rule name="The MC Index Redirect" stopProcessing="true">
                <match url="^about/publications/mc.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/about/publications/mc/" />
            </rule>


            <!-- RESEARCH FORWARDS -->
            <!-- CCR -->
            <rule name="CCR Directory Redirect" stopProcessing="true">
                <match url="^ccr(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/research/ccr{R:1}" />
            </rule>
            <rule name="CCR Index Redirect" stopProcessing="true">
                <match url="^research/ccr.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/research/ccr/" />
            </rule>
            <!-- HIHIC -->
            <rule name="HIHIC Directory Redirect" stopProcessing="true">
                <match url="^hihic(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/research/hihic{R:1}" />
            </rule>
            <rule name="HIHIC Index Redirect" stopProcessing="true">
                <match url="^research/hihic.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/research/hihic/" />
            </rule>
            <!-- Weird IHIC duplicate folder -->
            <rule name="IHIC Directory Redirect" stopProcessing="true">
                <match url="^ihic(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/research/hihic{R:1}" />
            </rule>


            <!-- STUDENTS FORWARDS -->
            <rule name="Scholarships Index Redirect" stopProcessing="true">
                <match url="^programs/scholarships.php" />
                <action type="Redirect" redirectType="Permanent" url="/comc/students/scholarships.php" />
            </rule>


            <!-- STUDENT ORGANIZATION FORWARDS -->
            <rule name="Outpost Redirect" stopProcessing="true">
                <match url="^outpost(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/research/outpost{R:1}" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>