<?xml version="1.0"?>
<configuration>
 <system.web>
 </system.web>
<appSettings>
 <add key="sub" value="This is from CoMCs web.config settings"></add>
 <add key="MySetting" value="This my settings is from /comc/ web.config"></add>
</appSettings>

<system.webServer>
    <rewrite>
        <rules>
            <rule name="Outpost Redirect" stopProcessing="true">
                <match url="^outpost/(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/research/outpost/{R:1}" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>