<?xml version="1.0"?>
<configuration>
 <system.web>
 </system.web>
<appSettings>
 <add key="sub" value="This is from CoMCs web.config settings"></add>
 <add key="MySetting" value="This my settings is from /comc/ web.config"></add>
</appSettings>

<system.webServer>
    <rewrite>
        <rules>
        	<!-- PROGRAMS FORWARDS -->
        	<rule name="Advertising Directory Redirect" stopProcessing="true">
                <match url="^programs/adv/(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/advertising/{R:1}" />
            </rule>
        	<rule name="EMAC Directory Redirect" stopProcessing="true">
                <match url="^programs/emac/(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/electronicmedia/{R:1}" />
            </rule>
            <rule name="Journalism Directory Redirect" stopProcessing="true">
                <match url="^programs/jour/(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/journalism/{R:1}" />
            </rule>
            <rule name="Media Strategies Directory Redirect" stopProcessing="true">
                <match url="^programs/mst/(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/mediastrategies/{R:1}" />
            </rule>
            <rule name="PR Directory Redirect" stopProcessing="true">
                <match url="^programs/pr/(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/programs/publicrelations/{R:1}" />
            </rule>

            <!-- STUDENT ORGANIZATION FORWARDS -->
            <rule name="Outpost Redirect" stopProcessing="true">
                <match url="^outpost/(.*)$" />
                <action type="Redirect" redirectType="Permanent" url="/comc/research/outpost/{R:1}" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>