
.comc-debate-team-header-with-content {
    margin-top: 2rem;

    img.debate-team-group-image-1 {
        margin-bottom: .7rem;
    }

    h1 {
        text-align: left;
        text-transform: uppercase;
        line-height: .9;
        font-size: 1.5rem;
        margin-bottom: -.4rem;
    }

    @media only screen and (min-width: 768px) {
        h1 {
            font-size: 2.125rem;
        }
    }

    h1.text-align-h1-center {
        text-align: center;
        margin-bottom: .4rem;
    }

    @media only screen and (min-width: 1024px) {
        .reduce-width-on-large-screens {
            max-width: 800px;
            margin: 0 auto;
        }

        h1.h1-letter-spacing-on-large-screens {
            letter-spacing: 1px;
        }
    }

    p.reduce-margin-p-top {
        margin-top: -.6rem;
    }

    .full-width-grey-bg {
        background-color: #d1d3d4;
        padding: 2rem 0 1rem 0;
    }

    p.debate-team-journalists {
        line-height: 1;
    }

    p.comc-debate-team-text-align-right {
        text-align: right;

        @media only screen and (min-width: 768px) {
            font-size: .5rem;
        }

        @media only screen and (min-width: 1024px) {
            font-size: .7rem;
        }
    }
}

.comc-debate-team-quote-with-pictures {
    margin-bottom: 1rem;

    @media only screen and (min-width: 1024px) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .quote-image {
        position: relative;
        width: 100%;

        @media only screen and (min-width: 1024px) {
            margin: 0 auto;
            max-width: 1100px;
        }
    }

    figure.quotation-marks-bg {
        position: relative;
        max-height: 200px;
        @media only screen and (min-width: 768px) {
            max-height: 100%;
        }
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    figure.debate-team-coach-quote {
        position: absolute;
        top: 50px;

        @media only screen and (min-width: 768px) {
            top: 25px;
        }

        @media only screen and (min-width: 1024px) {
            top: 0;
        }
    }

    img.quotation-mark {
        width: 90px;

        @media only screen and (min-width: 768px) {
            width: 220px;
        }

        @media only screen and (min-width: 1024px) {
            width: 350px;
        }
    }

    img.rotate-180-deg {
        transform: rotate(180deg);
    }

    p {
        text-transform: uppercase;
        text-align: center;
        margin-top: -3.2rem;
        @media only screen and (min-width: 1024px) {
            margin-top: 0;
        }
    }
}

.comc-debate-team-bottom-pictures {
    margin-bottom: 2rem;

    img.comc-debate-team-Nellis-images {
        margin-bottom: 1rem;
    }

    p {
        text-align: center;

        em {
            min-width: 1000px;
        }

        span.Nellis-text {
            font-size: xx-small;
        }
    }
}
