section.sports-marketing-firm-header {
    margin: 2rem 0 2rem 0;

    p.sports-marketing-firm-header-p-text {
        font-size: .75rem;

        @media only screen and (min-width: 768px) {
            font-size: 1rem;
        }

        padding-left: .4rem;
    }

    p.sports-marketing-firm-header-p-marcus-pauda-quote {
        text-align: right;
        line-height: 1.2;

        @media only screen and (min-width: 768px) {
            font-size: 1.4rem;
        }

        @media only screen and (min-width: 1024px) {
            margin-top: 8rem;
            font-size: 1.6rem;
        }
    }

    p.sports-marketing-firm-header-p-marcus-pauda {
        margin-top: -.7rem;
        text-align: right;
    }

    div.sports-marketing-firm-header-image-with-text {
        position: relative;
        width: 100%;

        p.sports-marketing-firm-header-image-p-text {
            position: absolute;
            bottom: 0;
            left: .65rem;
            color: #FFF;
            font-size: .4rem;

            @media only screen and (min-width: 768px) {
                font-size: 1rem;
                left: 6.25rem;
            }
        }
    }
}

hr.sports-marketing-firm-hr {
    border-color: #f05541;
    border: 3px solid #f05541;
    margin: 2.5rem 2rem;
}

section.sports-marketing-firm-content {
    h1.sports-marketing-firm-content-h1 {
        line-height: 1.2;
        font-size: 1.4rem;

        @media only screen and (min-width: 768px) {
            font-size: 2.25rem;
        }

        @media only screen and (min-width: 1024px) {
            font-size: 3.5rem;
        }

        margin-bottom: -.3rem;
    }
}
