@font-face {
    font-family: 'futura-condensedlight';
    src: url('../fonts/futura-condensedlight.ttf');
}

@font-face {
    font-family: 'bromello';
    src: url('../fonts/bromello.ttf');
}

@font-face {
    font-family: 'athletic';
    src: url('../fonts/Athletic.TTF');
}

@font-face {
    font-family: 'wisdom-script';
    src: url('../fonts/WisdomScript.otf');
}

@font-face {
    font-family: 'american-purpose';
    src: url('../fonts/AmericanPurpose.otf');
}

@font-face {
    font-family: 'franklin-gothic-medium';
    src: url('../fonts/FranklinGothicMedium.ttf');
}

@font-face {
    font-family: 'avenir-next-condensed';
    src: url('../fonts/AvenirNextCondensed.ttc');
}

@font-face {
    font-family: 'avenir-next';
    src: url('../fonts/AvenirNext.ttc');
}

.font-athletic {
    font-family: 'athletic';
}

.font-baskerville {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.font-bromello {
    color: white;
    font-family: 'bromello';
}

.font-futura-condensedlight {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
}

.font-wisdom-script {
    font-family: 'wisdom-script';
    color: #2f63af;
}

.american-purpose {
    font-family: 'american-purpose';
    color: #fff;
}

.franklin-gothic-medium {
    font-family: 'franklin-gothic-medium';
}

.avenir-next-condensed {
    font-family: 'avenir-next-condensed';
}

.avenir-next {
    font-family: 'avenir-next';
}
