@font-face {
    font-family: 'futura-condensedlight';
    src: url('../fonts/futura-condensedlight.ttf');
}

@font-face {
    font-family: 'bromello';
    src: url('../fonts/bromello.ttf');
}

@font-face {
    font-family: 'athletic';
    src: url('../fonts/Athletic.TTF');
}

@font-face {
    font-family: 'wisdom-script';
    src: url('../fonts/WisdomScript.otf');
}

@font-face {
    font-family: 'american-purpose';
    src: url('../fonts/AmericanPurpose.otf');
}

@font-face {
    font-family: 'franklin-gothic';
    src: url('../fonts/FranklinGothic.ttf');
}

@font-face {
    font-family: 'franklin-gothic-medium';
    src: url('../fonts/FranklinGothicMedium.ttf');
}

@font-face {
    font-family: 'avenir-next-condensed';
    src: url('../fonts/AvenirNextCondensed.ttc');
}

@font-face {
    font-family: 'avenir-next';
    src: url('../fonts/AvenirNext.ttc');
}

@font-face {
    font-family: 'adobe-devanagari-bold-italic';
    src: url('../fonts/AdobeDevanagari-BoldItalic.otf');
}

@font-face {
    font-family: 'adobe-devanagari-regular';
    src: url('../fonts/AdobeDevanagari-Regular.otf');
}

@font-face {
    font-family: 'charter-bt-pro-normal';
    src: url('../fonts/CharterBTPro-normal.ttf');
}

@font-face {
    font-family: 'charter-bt-pro-bold-italic';
    src: url('../fonts/CharterBTPro-bold-italic.ttf');
}

@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/BebasNeue.otf');
}

@font-face {
    font-family: 'allura-regular';
    src: url('../fonts/Allura-Regular.ttf');
}

@font-face {
    font-family: 'francois-one';
    src: url('../fonts/FrancoisOne.ttf');
}

@font-face {
    font-family: 'bebas';
    src: url('../fonts/Bebas.ttf');
}

@font-face {
    font-family: 'master_of_break';
    src: url('../fonts/master_of_break.otf');
}

@font-face {
    font-family: 'capitals';
    src: url('../fonts/Capitals.ttf');
}

@font-face {
    font-family: 'grand-hotel';
    src: url('../fonts/GrandHotel.otf');
}

@font-face {
    font-family: 'franklin-gothic-book';
    src: url('../fonts/FranklinGothicBook.ttf');
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/HelveticaNeue.dfont');
}

.font-athletic {
    font-family: 'athletic';
}

.font-baskerville {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.font-bromello {
    color: white;
    font-family: 'bromello';
}

.font-futura-condensedlight {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
}

.font-wisdom-script {
    font-family: 'wisdom-script';
    color: #2f63af;
}

.american-purpose {
    font-family: 'american-purpose';
    color: #fff;
}

.franklin-gothic {
    font-family: 'franklin-gothic';
}

.franklin-gothic-medium {
    font-family: 'franklin-gothic-medium';
}

.avenir-next-condensed {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
}

.avenir-next {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.adobe-devanagari-bold-italic {
    font-family: 'adobe-devanagari-bold-italic';
    color: #000000;
}

.adobe-devanagari-regular {
    font-family: 'adobe-devanagari-regular';
    color: #000000;
}

.charter-bt-pro-normal {
    font-family: 'charter-bt-pro-normal';
}

.charter-bt-pro-bold-italic {
    font-family: 'charter-bt-pro-bold-italic';
}

.bebas {
    font-family: 'bebas';
    color: #fff;
}

.bebas-neue {
    font-family: 'bebas-neue';
    color: #8864b8;
}

.allura-regular {
    font-family: 'allura-regular';
    color: #ceaa7a;
}

.francois-one {
    font-family: 'francois-one';
    color: #f05541;
}

.master-of-break {
    font-family: 'master_of_break';
    color: #bfb8a6;
}

.capitals {
    font-family: 'capitals';
}

.grand-hotel {
    font-family: 'grand-hotel';
}

.franklin-gothic-book {
    font-family: 'franklin-gothic-book';
}

.helvetica-neue {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
