.purple-intro-text {
    color: #0017a3;
}

.image-with-text {
    position: relative;
    width: 100%;
}

.image-with-text:before {
    content: '';
    position: absolute;
    top: -5%;
    left: 0;
    width: 52.3%;
    height: 105%;
    background-color: rgba(0, 23, 163, 0.5);
    z-index: 1;

    @media only screen and (min-width: 768px) {
        .image-with-text:before {
            width: 50%;
        }
    }
}

.image-with-text h3 {
   position: absolute;
   color: white;
   bottom: 0;
   left: 1em;
   width: 100%;
   font-size: 12px;
   z-index: 2;

   @media only screen and (min-width: 768px) {
       font-size: 25px;
   }

   @media only screen and (min-width: 1024px) {
       font-size: 35px;
   }
}
