section.from-the-dean-content {
    margin: 2rem 0 2rem 0;

    div.from-the-dean-content-div-top-image-title {
        margin-top: .5rem;
        padding-left: .5rem;
        border-left: thick double #000;

        p.from-the-dean-content-p-top-image-title-first-child {
            margin-bottom: -.6rem;
        }
    }

    p.from-the-dean-content-p-top-image-description {
        color: #a2a2a4;
        margin: .5rem .2rem;
        line-height: 1.1;
        letter-spacing: 1px;
        font-size: .7rem;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    span.from-the-dean-content-span-drop-letter {
        float: left;
        font-family: serif;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
    }

    ul {
        font-size: .75rem;

        @media only screen and (min-width: 768px) {
            font-size: 1rem;
        }
    }

    ul ul {
        margin-bottom: -.1rem;

        li.from-the-dean-content-li-checkmark {
            list-style-type: none;
        }

        li.from-the-dean-content-li-checkmark:before {
            content:"\2713\0020";
            font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
        }
    }

    p.from-the-dean-content-p-dean-name {
        padding-left: 2rem;
    }
}
