/* line 1, ../sass/screen.scss */
body {
  padding: 1em;
}

/* line 5, ../sass/screen.scss */
h2 {
  text-align: center;
}

/* line 16, ../sass/screen.scss */
#rsvp-list tr:hover td {
  background-color: #b2b2b2;
}
/* line 20, ../sass/screen.scss */
#rsvp-list tr th, #rsvp-list tr td {
  padding: 1.5em .5em;
}
/* line 24, ../sass/screen.scss */
#rsvp-list tr th {
  background-color: #f1f2f2;
  font-size: 1.125em;
  text-align: left;
}
/* line 33, ../sass/screen.scss */
#rsvp-list .hasGuests {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* line 48, ../sass/screen.scss */
.export-button {
  text-align: center;
}

/* line 52, ../sass/screen.scss */
.button-default {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "HelveticaNeueW01-77BdCn 692722";
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  font-size: 1em;
  letter-spacing: .125em;
  color: #c00 !important;
  -webkit-transition: background-color 300ms ease-out 0s;
  transition: background-color 300ms ease-out 0s;
  padding: 0.7em 2em;
  background-color: transparent !important;
  margin: 10px 5px 1em;
  text-transform: uppercase;
  border: 1px solid #cc0000;
  width: initial;
}

/* line 75, ../sass/screen.scss */
.button-default:hover {
  background-color: #c00 !important;
  border: 1px solid #fff;
  color: #fff !important;
  border-radius: 2px;
  text-decoration: none;
}
