/****************************
        COST PAGE
****************************/

#applying {
  .top,
  .button {
    background-color: $pink;
  }

  #howToApply {

    margin-bottom: 7em;

    a {
      color: $dark-blue;
      text-decoration: none;
      transition: all 0.25s ease;

      &:hover {
        color: lighten($dark-blue, 20);
        cursor: pointer;
      }
    }

    .applyBanner {
        background-image: url("../img/60-lines.png");
        background-color: $pink;
    }

    .freshman, .transfer {
      font-size: 3em;
      color: white;
      padding: 0.2em;
    }

    .freshmanContainer, .transferContainer {
        margin: 0 2em;

        ol {
          text-align: left;

          li {
            font-size: 1.4em;
            padding: 1em 0;
          }
        }
    }

    .transferInfo {
      margin-top: 2em;
      font-size: 1.6em;
    }

    .contactUs {
      font-size: 1.5em;
      margin-top: 3em;
    }

    @media(min-width: $screen-med) {

      .freshman, .transfer {
        font-size: 3em;
        color: white;
        padding: 0.5em;
      }

      .freshmanContainer, .transferContainer {
        width: 90%;
        margin: 0 auto;

        ol {
          text-align: left;

          li {
            font-size: 25px;
            padding: 20px 0;
          }
        }
      }
    }

  } //End #howToApply
} //End #apply

.scrollDown {
  li {
    list-style-type: none;
  }
}

// I needed this outside the ID in order for it to actually change the original ::after,
// not create a new overwriting style.
.button {
  &::after {
    left: -100px;
    height: 400px;
    top: -150px;
  }
}

@media(min-width: $screen-med) {

    // I needed this outside the ID in order for it to actually change the original ::after,
    // not create a new overwriting style.
    .button {
      &::after {
        left: -100px;
        height: 400px;
        top: -150px;
      }
    }
}
