/****************************
        CAREERS PAGE
****************************/

#careers {
  .top,
  .button {
    background-color: $blue;
  }
}



/****************************
        ALUMNI Section
****************************/

.personContainer
{
  width: 70%;
  margin: 0 auto;

  .personPicture {
    width: 45%;
    margin: 2em auto 1em;

    img {
      border-radius: 50%;
      width: 60%;
    }
  }
  .personName {
    font-size: 2.5em;
    font-family: 'bebas_neue', Impact, Helvetica, sans-serif;
  }
  .personSubtitle {
    font-size: 1.5em;
  }
  .personDegree {
    font-size: 1.4em;
  }
  .quote {
    margin: 2em 0;
    font-size: 1.5em;
    position: relative;

    p {
      &:before {
        content: url("../img/quote-open.svg");
        width: 2em;
        display: inline-block;
        position: relative;
        left: -10px;
      }

      &:after {
        content: url("../img/quote-close.svg");
        width: 2em;
        display: inline-block;
        position: relative;
        bottom: 0;
        right: -10px;
      }
    }
  }
}
/****************************
    END ALUMNI Section
****************************/
