/****************************
        CAREERS PAGE
****************************/

#careers {
  .top,
  .button {
    background-color: $blue;
  }

  #overview {
    padding: 5em 0.5em 3em;
  }

  #lists {
    padding: 0 0 3em;
    h2 {
      color: $blue;
      font-size: 4em;
      margin: .5em 0;
      @media screen and (min-width: $screen-med) {
        font-size: 5em;
        margin: .25em 0;
      }
    }
    .row {
      & > div {
        padding-bottom: 2em;
        vertical-align: top;
        @media screen and (min-width: $screen-med) {
          display: inline-block;
          width: 49%;
        }
      }
    }
    ul {
      font-size: 1.25em;
      font-weight: bold;
      list-style: none;
      padding: 0;
      @media screen and (min-width: $screen-lg) {
        font-size: 1.5em;
      }
      li {
        padding-bottom: .5em;
      }
    }
    a {
      @media screen and (min-width: $screen-med) {
        font-size: 1.25em;
      }
      @media screen and (min-width: $screen-xl) {
        font-size: 1.75em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}



/****************************
        ALUMNI Section
****************************/

.personContainer
{
  width: 70%;
  margin: 0 auto;

  .personPicture {
    width: 45%;
    margin: 2em auto 1em;

    img {
      border-radius: 50%;
      width: 60%;
    }
  }
  .personName {
    font-size: 2.5em;
    font-family: 'bebas_neue', Impact, Helvetica, sans-serif;
  }
  .personSubtitle {
    font-size: 1.5em;
  }
  .personDegree {
    font-size: 1.4em;
  }
  .quote {
    margin: 2em 0;
    font-size: 1.5em;
    position: relative;

    p {
      &:before {
        content: url("../img/quote-open.svg");
        width: 2em;
        display: inline-block;
        position: relative;
        left: -10px;
      }

      &:after {
        content: url("../img/quote-close.svg");
        width: 2em;
        display: inline-block;
        position: relative;
        bottom: 0;
        right: -10px;
      }
    }
  }
}
/****************************
    END ALUMNI Section
****************************/
