
#events{

  .eventContainer {
    .eventDate {
      .eventTitle {
        font-size: 5em;
        margin: 1em 0 0.2em;
        color: $red;
        font-family: 'bebas_neue';
      }
      span {
        font-size: 4em;
        margin: 1em 0;
        vertical-align: middle;
        font-family: 'bebas_neue';
      }

      .day {
        font-size: 7em;
      }
    }

    .eventLocation {
      font-size: 3em;
      font-family: 'bebas_neue';
      color: $dark-blue;
      margin-top: 0.6em;
    }

    p {
      font-size: 2em;
      margin: 1.5em auto;
      width: 60%;
    }
  }
}
