/****************************
        LANDING PAGE
****************************/

#landing {
  position: relative;
  height: 100vh;
  width: 100%;
  // div containting logos and title
  #title {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    h1 {
      color: $red;
      font-size: 5.25em;
      &:after,
      &:before {
        content: '';
        display: none;
      }
    }
  }
}
