/****************************
        LANDING PAGE
****************************/

#landing {
  position: relative;
  height: 100vh;
  width: 100%;
  // div containting logos and title
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    padding: 0 .5em;
    #comcHand {
      width: 10em;
      padding-bottom: 1em;
      @media screen and (min-width: $screen-med) {
        width: 15em;
      }
    }
    #logoWords {
      min-width: 400px;
      @media screen and (min-width: $screen-med) {
        min-width: 550px;
      }
    }
    h1 {
      color: $red;
      font-size: 6.25em;
      padding: 0;
      margin: 0.1em 0;
      @media screen and (min-width: $screen-med) {
        font-size: 8.25em;
      }
      &:before {
        content: '';
        top: 0;
        width: 40%;
      }
      &:after {
        content: '';
        display: none;
      }
    }
  }
}

/****************************
      OVERVIEW SECTION
****************************/

#overview {
  .info {
    font-size: 1.33em;
    height: 50vh;
    padding: 4em 0.5em;
  }

  .square-menu {
    position: relative;
    height: 50vh;
    text-align: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      @include translateX(-50%);
      background-color: $dark-grey;
      height: 100%;
      width: 1px;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      @include translateY(-50%);
      background-color: $dark-grey;
      height: 1px;
      width: 100%;
      z-index: 1;
    }
    .square {
      position: relative;
      color: $dark-grey;
      font-weight: bold;
      text-decoration: none;
      @include transition(.3s);
      &:hover {
        background-color: $light-grey;
        figure {
          animation: 4s ease-in-out infinite up-shake;
        }
      }
      div {
        position: absolute;
        top: 50%;
        left: 0;
        @include translateY(-50%);
        width: 100%;
        figure {
          color: $red;
          margin: 0;
        }
        p {
          padding: 0 .5em;
        }
      }
      height: 50%;
      width: 50%;
      padding: 0;
      margin: 0;
    }
  }
}
