/****************************
        LANDING PAGE
****************************/

#landing {
  position: relative;
  height: 100vh;
  width: 100%;
  // div containting logos and title
  #title {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    #comcHand {
      width: 10em;
      padding-bottom: 1em;
      @media screen and (min-width: $screen-med) {
        width: 15em;
      }
    }
    #logoWords {
      min-width: 400px;
      @media screen and (min-width: $screen-med) {
        min-width: 550px;
      }
    }
    h1 {
      color: $red;
      font-size: 6.25em;
      padding: 0;
      margin: 0.1em 0;
      @media screen and (min-width: $screen-med) {
        font-size: 8.25em;
      }
      &:before {
        content: '';
        top: 0;
        width: 40%;
      }
      &:after {
        content: '';
        display: none;
      }
    }
  }
}
