/****************************
          COLORS
****************************/

$red: #CC0000;
$dark-grey: #333;


/****************************
        BREAK POINTS
****************************/

$screen-med: 768px;
$screen-lg: 1000px;
$screen-xl: 1200px;
