/****************************
          COLORS
****************************/

$red: #CC0000;
$dark-grey: #333;
$light-grey: #F1F1F1;
$dark-blue: #003a66;


/****************************
        BREAK POINTS
****************************/

$screen-med: 768px;
$screen-lg: 1000px;
$screen-xl: 1200px;
