/****************************
          COLORS
****************************/

$red: #CC0000;
$dark-grey: #333;
$light-grey: #F1F1F1;
$dark-blue: #003a66;
$slate: #58767D;    // Landing
$blue: #2496B0;     // Career
$green: #00A479;    // Cost
$coral: #E6837F;    // Why CoMC
$pink: #B02459;     // Apply


/****************************
          SHADOWS
****************************/
$card-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);


/****************************
        BREAK POINTS
****************************/

$screen-med: 768px;
$screen-lg: 1000px;
$screen-xl: 1200px;
