/****************************
        WHY COMC PAGE
****************************/

#why-comc {
  .top,
  .button {
    background-color: $coral;
  }

  h2 {
    color: $coral;
    font-size: 3.2em;
  }

  hr:after {
    background-color: $coral;
  }

  p {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
  }
}

/****************************
      Visit Section
****************************/
#visit
{
  .masterImageContainer {
      position: relative;

      .imageContainer
      {
        #ttu_1 {
          background-image: url("../img/seal-high.jpg");
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        #ttu_2 {
          background-image: url("../img/mem-circle-high.jpg");
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        #ttu_3 {
          background-image: url("../img/cmc-high.jpg");
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        #ttu_4 {
          background-image: url("../img/library-high.jpg");
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

    .marker {
      display: none;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      z-index: 10;
      font-size: 4em;
      color: $red;
    }

    .transparent {
      width: 100%;
      position: absolute;
      bottom: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+100&0+0,1+100 */
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.85) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.85) 0%, rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 0%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
  }

  .visitLocal
  {
    background-color: $coral;
    background-image: url("../img/60-lines.png");

    h2 {
      color: white;
      font-size: 3.2em;
      padding: 1em 0 0;
    }

    p {
      color: white;
      width: 75%;
      text-align: center;
      margin: 0 auto;
      font-size: 1.5em;
      padding: 0 0 2em;
    }
  }

  .virtualTour
  {
    .tourContainer {
      width: 50%;
      margin: 0 auto;
    }
  }

  .moreInfoTitle {
    font-size: 2.8em;
    margin-bottom: 0.4em;
  }

  @media (min-width: $screen-med) {
    p {
      font-size: 2em;
    }
  }
}

/****************************
     End Visit Section
****************************/


/****************************
      Events Section
****************************/

#events {

  .eventDate {
    .eventTitle {
      font-size: 3em;
      margin: 1em 0 0.2em;
      color: $red;
      font-family: 'bebas_neue';
    }
    span {
      font-size: 3em;
      margin: 1em 0;
      vertical-align: middle;
      font-family: 'bebas_neue';
    }

    .day {
      font-size: 6em;
    }
  }

  .eventLocation {
    font-size: 2em;
    font-family: 'bebas_neue';
    color: $dark-blue;
    margin-top: 0.6em;
  }

  p {
    font-size: 1.4em;
    margin: 1.5em auto;
    width: 60%;
  }

  @media (min-width: $screen-med) {

    .eventTitle {
      font-size: 5em;
    }

    span {
      font-size: 4em;
    }

    .day {
      font-size: 7em;
    }

    .eventLocation {
      font-size: 3em;
    }

    p {
      font-size: 2em;
    }
  }
}

/****************************
    End Events Section
****************************/

/****************************
    Opportunites Section
****************************/

.studentOpportuntiesContainer {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  .studentItems {
    width: 100%;
    margin: 5px 10px 15px;
    background-color: $dark-grey;

    h6 {
      color: white;
      font-size: 2em;
      margin: 0.8em 0 0;
    }

    p {
      color: white;
      font-size: 1em;
      margin: 0.4em;
      padding-bottom: 25px;
    }

    .contactContainer {
      display: flex;
      justify-content: space-between;

      .email, .twitter {
        color: white;
        padding-bottom: 1em;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: darken(white, 20);
            cursor: pointer;
          }
        }
      }

      .email {
        padding-left: 1em;
        padding-right: 1em;
      }

      .twitter {
        padding-right: 1em;
      }
    }
  }

  @media (min-width: $screen-med) {
    .studentItems {
      width: 45%;
      margin: 5px;
    }

  }

  @media (min-width: $screen-lg) {
    .studentItems {
      width: 30%;
      margin: 5px;
    }

  }

}


/****************************
  End Opportunites Section
****************************/
