/****************************
          IMPORTS
****************************/

@import "normalize";
@import "variables";
@import "fonts";



/****************************
        MAIN STYLES
****************************/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  color: $dark-grey;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bebas_neue', Impact, Helvetica, sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 2.25em;
}

@import "menu";
@import "landing";
