/* line 3, ../sass/styles.scss */
section {
  padding: 3em .25em;
}

@media screen and (min-width: 768px) {
  /* line 7, ../sass/styles.scss */
  p {
    font-size: 1.25em;
  }
}

/* line 13, ../sass/styles.scss */
#top {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f1f1f1;
  padding: 220px .25em 0;
}
@media screen and (min-width: 375px) {
  /* line 13, ../sass/styles.scss */
  #top {
    padding: 250px .25em 0;
  }
}
@media screen and (min-width: 425px) {
  /* line 13, ../sass/styles.scss */
  #top {
    padding: 280px .25em 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 13, ../sass/styles.scss */
  #top {
    background-size: cover;
    color: #FFF;
    height: 70vh;
    min-height: 750px;
    padding: 10em .25em;
  }
}

/* line 34, ../sass/styles.scss */
#the-form {
  background-color: #f1f1f1;
}

/* line 38, ../sass/styles.scss */
form {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
