@import "compass/css3";
@import "variables";

#alumni-titles {
  text-align: center;
}

#career-cube {
  display: inline-block;
  margin: 5em auto;
  width: $size * 4;
  height: $height;
  perspective: 600px;
  @media screen and (min-width: 768px) {
    width: $size * 6;
  }
  @media screen and (min-width: 1024px) {
    width: $size * 10;
  }

  .cube {
    position: relative;
    width: inherit;
    height: inherit;

    transform-style: preserve-3d;
    transition: transform 0.6s;

    .cube-face {
      width: inherit;
      height: inherit;
      position: absolute;
      background: red;

      p {
        position: absolute;
        top: 50%;
        @include translateY(-50%);
        text-align: center;
        width: 100%;
        padding: .5em;
        margin: 0;
        @media screen and (min-width: 768px) {
          padding: .5em 1em;
        }
      }

      &.cube-face-front {
        background: $lightGray;
        // Bring forward by half of the cubes length
        transform: translate3d(0, 0, $height/2);
      }
      &.cube-face-back {
        background: $lightGray;
        // Bring back by half of the cubes length and flip
        transform: rotateY(180deg) rotateZ(180deg) translate3d(0, 0, $height/2);
      }
      &.cube-face-top {
        background: $gray;
        transform: rotateX(90deg) translate3d(0, 0, $height/2);
        p {
          color: $white;
        }
      }
      &.cube-face-bottom {
        background: $gray;
        transform: rotateX(-90deg) translate3d(0, 0, $height/2);
        p {
          color: $white;
        }
      }
      &.cube-face-left {
        background: $lightGray;
        width: $height;
        transform: rotateY(-90deg) translate3d(0, 0, $height/2);
      }
      &.cube-face-right {
        background: $lightGray;
        width: $height;
        transform: rotateY(90deg) translate3d(0, 0, ($size*4) - ($height/2));

        @media screen and (min-width: 768px) {
          transform: rotateY(90deg) translate3d(0, 0, ($size*6) - ($height/2));
        }

        @media screen and (min-width: 1024px) {
          transform: rotateY(90deg) translate3d(0, 0, ($size*10) - ($height/2));
        }
      }
    }
  }
}
