@import 'compass/css3';
@import 'variables';


#student-work {
    /***** Filter Buttons *****/
    .filtering {
        text-align: center;
        .type-button-group {
            button {
                background-color: $lightGrey;
                text-align: center;
                border-radius: 50%;
                border: none;
                height: 100px;
                width: 100px;
                &:focus {
                    outline: none;
                }
                &.is-checked {
                    box-shadow: 0 1px 1.5px 0px rgba(0,0,0,.22),0 1px 1px 0 rgba(0,0,0,.4);
                }

                &.photo {
                    background-color: $turquoise;
                }
                &.video {
                    background-color: $orange;
                    color: $white;
                }
                &.graphic {
                    background-color: $lime;
                }
                &.writing {
                    background-color: $pink;
                    color: $white;;
                }
            }
        }
    }

    /***** Work Bubbles *****/
    .bubbles {
        text-align: center;
        padding: 3em 0;
        margin: 0 auto;
        .bubble {
            position: relative;
            display: inline-block;
            background: transparent;
            border-radius: 50%;
            border: 14px solid $grey;
            height: 130px;
            width: 130px;
            @media screen and (min-width: 680px) {
                height: 225px;
                width: 225px;
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%,-50%);
                border-radius: 50%;
                height: 0;
                width: 0;
                @include transition(.3s);
                z-index: 1;
            }
            &:hover {
                cursor: pointer;
                &:after {
                    content: '';
                    opacity: .5;
                    height: 105%;
                    width: 105%;
                }
                .info {
                    opacity: 1;
                }
            }

            &.photo-bubble {
                border-color: $turquoise;
                &:after {
                    content: '';
                    background-color: $turquoise;
                }
            }
            &.video-bubble {
                border-color: $orange;
                &:after {
                    content: '';
                    background-color: $orange;
                }
            }
            &.graphic-bubble {
                border-color: $lime;
                &:after {
                    content: '';
                    background-color: $lime;
                }
            }
            &.writing-bubble {
                border-color: $pink;
                &:after {
                    content: '';
                    background-color: $pink;
                }
            }
            &.size-small {
                border-width: 6px;
                height: 90px;
                width: 90px;
                @media screen and (min-width: 680px) {
                    height: 125px;
                    width: 125px;
                }
            }
            &.size-large {
                border-width: 20px;
                height: 260px;
                width: 260px;
                @media screen and (min-width: 680px) {
                    height: 450px;
                    width: 450px;
                }
            }

            .info {
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                @include transition(.3s);
                opacity: 0;
                z-index: 2;
                p {
                    font-size: 1.5em;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
