/**********************************************************
        					Advertising Quiz CSS
**********************************************************/

#advertising-quiz {

  text-align: center;
  padding: 2em 0 3em;

  #question {
    background: $lightGray;
    font-family: "HelveticaNeueW01-45Ligh","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    border: 4px solid $darkGray;
    padding: .25em .5em;
    margin: 1em auto;
    max-width: 500px;
  }

  .choice {
    border: 2px solid $darkGray;
    border-radius: 25px;
    padding: .25em .5em;
    margin: 1em auto;
    max-width: 300px;
    transition: .3s;
    &:hover {
      background: $lightGray;
    }
    &:focus {
      background: $lightGray;
    }

    a {
      color: $black;
      padding: .25em 0;
      transition: .3s;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  #career-choice {

    margin-top: 3em;

    a {

      img {
        margin: 1em 0;
        max-height: 75px;
        @media screen and (min-width: 768px) {
          margin: 0;
        }
      }
    }

  }

}
