
.student-life {

    position: relative;
    text-align: center;
    height: auto;
    overflow: hidden;
    padding-bottom: 4em;

    .flex-row-large-screen {

        display: flex;
        justify-content: center;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 1170px;

        @media screen and (max-width: 768px) {

            flex-direction: column;

        }

    }

    .inner-flex-column-large-screen {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    p {

        text-align: justify;
        margin: 0 5em;

    }

    hr {

        margin: 0 2em;

    }

    @media screen and (max-width: 768px) {

        padding-bottom: 1em;

        h1 {

            margin-top: .5em;
            font-size: 1.5em;

        }

        h2 {

            font-size: 1.3em;

        }

        h3 {

            font-size: 1.2em;

        }

        h4 {

            font-size: 1.1em;
            color: #C00;

        }

        h5 {

            font-size: 1em;

        }

        p {

            font-size: .95em;
            padding-left: 1em;
            padding-right: 1em;

        }

    }

    .advertising-required-courses {

        width: 50%;

        .required-courses {

            display: flex;
            justify-content: center;

        }

        @media screen and (max-width: 768px) {

            font-size: .65em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

        }

        ul {

            padding: 1.5em;

        }

    }

    .advertising-prereq-course-guide {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50%;

        @media screen and (max-width: 768px) {

            width: 100%;

        }

        .prereqs {

            background: url('/comc/programs/advertising/images/adv-reqs-bg.svg') center center no-repeat;
            background-size: 350px 560px;
            max-height: 560px;

            .mid-level2-prereqs {
                padding: 1.625em 0;
            }
            .bottom-level-prereqs {
              padding: 1.5em 0;
            }

        }

        .top-level-prereqs, .mid-level1-prereqs, .mid-level2-prereqs, .bottom-level-prereqs {

            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            padding: 1.25em 1em;

            div {

                margin: 5px 17px;
                height: 90px;
                width: 90px;
                border-radius: 50%;
                padding: .8em;

                &.circle-course-name-and-number {

                    background-color: #CCC;

                }

            }

        }

    }

    .course-catalog-descriptions {

        p {

            text-align: center;
        }

        @media screen and (max-width: 768px) {

            p {

                text-align: left;
                margin: 0 1em;
                padding-right: 0;
                font-size: .8em;

            }

        }

    }

    .advertising-electives {

        background-color: #CCC;
        padding: 1em 0;
        margin-top: 1em;

        .group-A {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 768px) {

                align-items: flex-start;

            }

            ul {

                text-align: center;

                @media screen and (max-width: 768px) {

                    text-align: left;

                }

            }

        }

        .groups-B-C {

            margin-top: 2em;

            @media screen and (max-width: 768px) {

                margin-top: 0;

            }

        }

        .left-column {

            border-right: #C00 4px double;

            @media screen and (max-width: 768px) {

                border-right: none;

            }

        }

        @media screen and (max-width: 768px) {

            width: 100%;
            padding-right: 0;

            h2 {

                text-align: left;
                padding-left: 1em;

            }

        }

        h2 {

            text-align: center;
            padding-left: 0;

        }

        h4 {

            color: #C00;

        }

        p {

            margin: 0;
            font-size: .65em;

        }

        .sub-electives-and-hours {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            .sub-elective-group {

                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 2em;


                h3:first-child {

                    margin-right: .5em;

                }

                .elective-hours {

                    color: #C00;
                    background-color: #333;
                    border-radius: 50px;
                    padding: .2em 1em .2em 1em;

                }

            }

            .elective-group-course-listing {

                text-align: left;
                padding-left: 2em;

                @media screen and (max-width: 768px) {

                    border-bottom: 2px #C00 solid;
                    text-align: left;
                    margin: 0 auto;
                    width: 80%;
                    padding-left: 0;

                    p {

                        font-size: 12px;
                        padding-left: 0;
                        padding-right: 0;

                    }

                    ul>li {

                        font-size: .75em;

                    }

                    ul>li:last-child {

                        padding-bottom: 1em;

                    }

                }

            }

        }

    }

    .advertising-four-year-sample {

        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 0 1.5em;
        margin-top: 3em;

        @media screen and (max-width: 768px) {

            margin-top: 2em;

        }

        .sample {

            color: #000;

        }

        .year {

            color: #C00;
            margin-top: 1.5em;
            padding-top: 1em;
            border-top: #C00 2px solid;

            @media screen and (max-width: 768px) {

                border-top: none;
                padding-top: 0;

            }

        }

        h4 {

             text-align: center;
        }

        h5, ul {

            margin-top: 0;

        }

        ul {

            // display: flex;
            // flex-direction: column;

            width: 500px;

            @media screen and (max-width: 768px) {

                font-size: .6em;
                width: auto;

            }

        }

        ul li {

            display: flex;
            justify-content: space-between;
            padding: 0;

            &:before {
              content: '';
              display: none;
            }

        }

        ul span {

            // padding-right: 2em;
            padding: 0 1em;

        }

        .semester {

            @media screen and (max-width: 768px) {

                border-bottom: 2px #C00 solid;
                text-align: left;
                padding-bottom: 1em;

            }

        }

        .semester-and-total-hours {

            display: flex;
            justify-content: flex-start;
            align-items: center;

            h5:first-child {

                margin-right: .5em;

            }

            .total-hours {

                color: #C00;
                background-color: #CCC;
                border-radius: 50px;
                padding: .2em 1em .2em 1em;

            }

        }

    }

}
