/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
h1 {
  text-align: center;
  font-size: 4.5em;
  color: #C00;
  line-height: 1; }

.studentSuccess p {
  font-size: 2.5em;
  text-align: center;
  color: #666;
  line-height: 1;
  margin-bottom: 1em; }

.centerImage {
  text-align: center; }

.studentSuccessSection .row {
  margin-bottom: 1.4em; }
.studentSuccessSection .studentSuccessImage {
  padding: 2.5em 0em;
  text-align: left; }
.studentSuccessSection .studentSuccessTextContainer {
  padding: 3.75em 1em;
  text-align: left; }
.studentSuccessSection .studentSuccessTextTitle {
  font-size: 2.8em;
  margin: 0.4em 0;
  color: #C00;
  line-height: 1; }
.studentSuccessSection .studentSuccessText {
  color: #808285;
  font-size: 1.3em;
  line-height: 1.2; }

#ourTeam {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  #ourTeam .person {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: table; }
  #ourTeam .row {
    max-width: 100%;
    display: block;
    height: inherit; }
  #ourTeam .columns {
    		/*
    		display: table-cell;
        height: inherit;
    		vertical-align: bottom;
    		float: none;
    		padding: 0;
    		*/
    text-align: center;
    height: 50%; }
  #ourTeam .arrowRight,
  #ourTeam .arrowLeft {
    width: 5%;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    visibility: hidden; }
    #ourTeam .arrowRight div,
    #ourTeam .arrowLeft div {
      font-size: 8em;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      cursor: pointer; }
  #ourTeam .arrowRight {
    right: 1.5em; }
    #ourTeam .arrowRight div {
      right: 0; }
  #ourTeam .arrowLeft {
    left: 1.5em; }
  #ourTeam .teamMemberText {
    width: 94%;
    margin-top: 10vh;
    padding: 0 5%;
    display: inline-block;
    color: white; }
    #ourTeam .teamMemberText .teamMemberName {
      font-size: 3em;
      line-height: 1; }
    #ourTeam .teamMemberText .teamMemberDescription {
      font-size: 1.4em;
      line-height: 1; }
  #ourTeam .teamMemberPhoto {
    text-align: center;
    width: 94%;
    display: inline-block; }
  #ourTeam img {
    height: 100%;
    width: 0 auto; }
  @media screen and (min-width: 1023px) {
    #ourTeam {
      		/*
      
      			Left to Right Gradient Background Colors
      
      		*/
      		/*
      
      			End Left to Right Gradient Background Colors
      
      		*/ }
      #ourTeam .row {
        display: table-row; }
      #ourTeam .columns {
        float: left;
        display: table-cell;
        text-align: center; }
      #ourTeam .leftColumn {
        padding: 0 5%;
        width: 100%;
        height: inherit; }
      #ourTeam .rightColumn {
        vertical-align: bottom;
        float: none; }
      #ourTeam .teamMemberText {
        width: 95%;
        text-align: center;
        vertical-align: middle;
        margin-top: 30%; }
        #ourTeam .teamMemberText .teamMemberName {
          font-size: 4em;
          line-height: 1; }
        #ourTeam .teamMemberText .teamMemberDescription {
          font-size: 2em;
          line-height: 1; }
      #ourTeam .arrowRight,
      #ourTeam .arrowLeft {
        visibility: visible; }
      #ourTeam img {
        height: 80%;
        position: relative;
        bottom: -1%; }
      #ourTeam .blue {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59bde5+35,d8efff+99 */
        background: #59bde5;
        /* Old browsers */
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #59bde5 35%, #d8efff 99%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #59bde5 35%, #d8efff 99%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bde5', endColorstr='#d8efff',GradientType=1 );
        /* IE6-9 */ }
      #ourTeam .green {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5ce85a+16,d2f2d0+100 */
        background: #5ce85a;
        /* Old browsers */
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #5ce85a 16%, #d2f2d0 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #5ce85a 16%, #d2f2d0 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ce85a', endColorstr='#d2f2d0',GradientType=1 );
        /* IE6-9 */ }
      #ourTeam .orange {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa230+0,ffdaaf+75 */
        background: #ffa230;
        /* Old browsers */
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffa230 0%, #ffdaaf 75%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffa230 0%, #ffdaaf 75%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa230', endColorstr='#ffdaaf',GradientType=1 );
        /* IE6-9 */ }
      #ourTeam .pink {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc8383+0,fcc9c9+100 */
        background: #fc8383;
        /* Old browsers */
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #fc8383 0%, #fcc9c9 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #fc8383 0%, #fcc9c9 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8383', endColorstr='#fcc9c9',GradientType=1 );
        /* IE6-9 */ }
      #ourTeam .purple {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b47fe2+0,d7d0f2+100 */
        background: #b47fe2;
        /* Old browsers */
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #b47fe2 0%, #d7d0f2 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #b47fe2 0%, #d7d0f2 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b47fe2', endColorstr='#d7d0f2',GradientType=1 );
        /* IE6-9 */ } }

/*

	Start Top to bottom Gradient Background Colors

*/
.blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59bde5+35,d8efff+99 */
  background: #59bde5;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #59bde5 35%, #d8efff 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #59bde5 35%, #d8efff 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bde5', endColorstr='#d8efff',GradientType=0 );
  /* IE6-9 */ }

.green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5ce85a+16,d2f2d0+100 */
  background: #5ce85a;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5ce85a 16%, #d2f2d0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5ce85a 16%, #d2f2d0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ce85a', endColorstr='#d2f2d0',GradientType=0 );
  /* IE6-9 */ }

.orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa230+0,ffdaaf+75 */
  background: #ffa230;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffa230 0%, #ffdaaf 75%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffa230 0%, #ffdaaf 75%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa230', endColorstr='#ffdaaf',GradientType=0 );
  /* IE6-9 */ }

.pink {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc8383+0,fcc9c9+100 */
  background: #fc8383;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fc8383 0%, #fcc9c9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fc8383 0%, #fcc9c9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8383', endColorstr='#fcc9c9',GradientType=0 );
  /* IE6-9 */ }

.purple {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b47fe2+0,d7d0f2+100 */
  background: #b47fe2;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b47fe2 0%, #d7d0f2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b47fe2 0%, #d7d0f2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b47fe2', endColorstr='#d7d0f2',GradientType=0 );
  /* IE6-9 */ }

/*

	End Top to bottom Gradient Background Colors

*/
.spacer {
  width: 100%; }
