/* Colors */
/* line 5, ../sass/studentwork.scss */
#student-work {
  /***** Filter Buttons *****/
  /***** Work Bubbles *****/
}
/* line 7, ../sass/studentwork.scss */
#student-work .filtering {
  text-align: center;
}
/* line 10, ../sass/studentwork.scss */
#student-work .filtering .type-button-group button {
  background-color: #CCC;
  text-align: center;
  border-radius: 50%;
  border: none;
  height: 100px;
  width: 100px;
}
/* line 17, ../sass/studentwork.scss */
#student-work .filtering .type-button-group button:focus {
  outline: none;
}
/* line 20, ../sass/studentwork.scss */
#student-work .filtering .type-button-group button.is-checked {
  box-shadow: 0 1px 1.5px 0px rgba(0, 0, 0, 0.22), 0 1px 1px 0 rgba(0, 0, 0, 0.4);
}
/* line 24, ../sass/studentwork.scss */
#student-work .filtering .type-button-group button.photo {
  background-color: #4ECDC4;
}
/* line 27, ../sass/studentwork.scss */
#student-work .filtering .type-button-group button.video {
  background-color: #FFB54E;
  color: #FFF;
}
/* line 31, ../sass/studentwork.scss */
#student-work .filtering .type-button-group button.graphic {
  background-color: #C7F464;
}
/* line 34, ../sass/studentwork.scss */
#student-work .filtering .type-button-group button.writing {
  background-color: #FF6B6B;
  color: #FFF;
}
/* line 43, ../sass/studentwork.scss */
#student-work .bubbles {
  text-align: center;
  padding: 3em 0;
  margin: 0 auto;
}
/* line 47, ../sass/studentwork.scss */
#student-work .bubbles .bubble {
  position: relative;
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  border: 14px solid #556270;
  height: 130px;
  width: 130px;
}
@media screen and (min-width: 680px) {
  /* line 47, ../sass/studentwork.scss */
  #student-work .bubbles .bubble {
    height: 225px;
    width: 225px;
  }
}
/* line 59, ../sass/studentwork.scss */
#student-work .bubbles .bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 0;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
/* line 71, ../sass/studentwork.scss */
#student-work .bubbles .bubble:hover {
  cursor: pointer;
}
/* line 73, ../sass/studentwork.scss */
#student-work .bubbles .bubble:hover:after {
  content: '';
  opacity: .5;
  height: 105%;
  width: 105%;
}
/* line 79, ../sass/studentwork.scss */
#student-work .bubbles .bubble:hover .info {
  opacity: 1;
}
/* line 84, ../sass/studentwork.scss */
#student-work .bubbles .bubble.photo-bubble {
  border-color: #4ECDC4;
}
/* line 86, ../sass/studentwork.scss */
#student-work .bubbles .bubble.photo-bubble:after {
  content: '';
  background-color: #4ECDC4;
}
/* line 91, ../sass/studentwork.scss */
#student-work .bubbles .bubble.video-bubble {
  border-color: #FFB54E;
}
/* line 93, ../sass/studentwork.scss */
#student-work .bubbles .bubble.video-bubble:after {
  content: '';
  background-color: #FFB54E;
}
/* line 98, ../sass/studentwork.scss */
#student-work .bubbles .bubble.graphic-bubble {
  border-color: #C7F464;
}
/* line 100, ../sass/studentwork.scss */
#student-work .bubbles .bubble.graphic-bubble:after {
  content: '';
  background-color: #C7F464;
}
/* line 105, ../sass/studentwork.scss */
#student-work .bubbles .bubble.writing-bubble {
  border-color: #FF6B6B;
}
/* line 107, ../sass/studentwork.scss */
#student-work .bubbles .bubble.writing-bubble:after {
  content: '';
  background-color: #FF6B6B;
}
/* line 112, ../sass/studentwork.scss */
#student-work .bubbles .bubble.size-small {
  border-width: 6px;
  height: 90px;
  width: 90px;
}
@media screen and (min-width: 680px) {
  /* line 112, ../sass/studentwork.scss */
  #student-work .bubbles .bubble.size-small {
    height: 125px;
    width: 125px;
  }
}
/* line 121, ../sass/studentwork.scss */
#student-work .bubbles .bubble.size-large {
  border-width: 20px;
  height: 260px;
  width: 260px;
}
@media screen and (min-width: 680px) {
  /* line 121, ../sass/studentwork.scss */
  #student-work .bubbles .bubble.size-large {
    height: 450px;
    width: 450px;
  }
}
/* line 131, ../sass/studentwork.scss */
#student-work .bubbles .bubble .info {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
}
/* line 139, ../sass/studentwork.scss */
#student-work .bubbles .bubble .info p {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}
